.products{
    display: flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;

}

.product{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width:300px;
    gap:5px;
   border: black solid ;
padding: 20px;
    color:black;
   
    
}

h1{
    text-align: center;
}

.image{
    height:100px;
    width:100px;
}

body{
    background-color: blanchedalmond;
}